---
import Favicon from '@global/component/favicon.astro';
import Og from '@global/component/og.astro';
import { siteConfiguration } from '@global/configuration/site_configuration';
import { BASE_URL } from '@global/constant/base';

import './../style/main.scss';

type Props =
{
  title: string;
  keywords: string;
  metaRobot?: string;
  description: string;
};

const {
  description,
  keywords,
  metaRobot = 'index, follow',
  title
} = Astro.props;

const {
  author,
  authorEmail,
  authorWeb
} = siteConfiguration;

console.log()

const locale = 'es';
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---
<!doctype html>
<html
  lang={locale}
  dir='ltr'
>
  <head>
    <meta charset='utf-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1, viewport-fit=cover'
    />
    <meta
      http-equiv='X-UA-Compatible'
      content='IE=edge'
    />
    <meta
      name='robots'
      content={metaRobot}
    />
    <meta
      name='author'
      content={`${author}, ${authorEmail}, ${authorWeb}`}
    />
    <meta
      name='description'
      content={description}
    />
    <meta
      name='keywords'
      content={keywords}
    />
    <link
      rel='sitemap'
      href=`${BASE_URL}/sitemap-index.xml`
    />
    <link rel="alternate" type="application/rss+xml" title={siteConfiguration.siteName} href={`${BASE_URL}/rss.xml`}>
    <Favicon />
    <Og
      title={title}
      description={description}
      image='/asset/og/home.png'
      locale={locale}
    />
    <link
      rel='alternate'
      href={canonicalURL}
      hreflang='x-default'
    />
    <link
      rel='canonical'
      href={canonicalURL}
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>