---
import Favicon from '@global/component/favicon.astro';
import OpenGraph, { type OpenGraphProps } from '@global/component/open_graph.astro';
import { siteConfiguration } from '@global/configuration/site_configuration';
import { BASE_URL } from '@global/constant/base';
import Font from '@global/component/font.astro';

import './../style/main.scss';
import Show from '@global/component/show.astro';

type Props =
{
  readonly title: string;
  readonly keywords: string;
  readonly metaRobot?:
  {
    noIndex: boolean;
    noFollow: boolean;
  };
  readonly description: string;
  readonly openGraphConfiguration?: OpenGraphProps;
};

const {
  description,
  keywords,
  metaRobot,
  title,
  openGraphConfiguration
} = Astro.props;

const {
  author,
  authorEmail,
  authorWeb,
  googleSiteVerificationId
} = siteConfiguration;

const locale = 'es';
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---
<!doctype html>
<html
  lang={locale}
  dir='ltr'
>
  <head>
    <meta charset='utf-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1, viewport-fit=cover'
    />
    <meta
      http-equiv='X-UA-Compatible'
      content='IE=edge'
    />
    <meta
      name='robots'
      content={`${metaRobot?.noIndex ? 'noindex' : 'index'}, ${
        metaRobot?.noFollow ? 'nofollow' : 'follow'
      }`}
    />
    <meta
      name='author'
      content={`${author}, ${authorEmail}, ${authorWeb}`}
    />
    <meta
      name='description'
      content={description}
    />
    <meta
      name='keywords'
      content={keywords}
    />
    <Show when={googleSiteVerificationId}>
      <meta
        name="google-site-verification"
        content={googleSiteVerificationId}
      />
    </Show>
    <link
      rel='sitemap'
      href=`${BASE_URL}/sitemap-index.xml`
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title={siteConfiguration.siteName}
      href={`${BASE_URL}/rss.xml`}
    />
    <link
      rel='alternate'
      href={canonicalURL}
      hreflang='x-default'
    />
    <link
      rel='canonical'
      href={canonicalURL}
    />
    <Favicon />
    <OpenGraph
      title={title}
      description={description}
      locale={locale}
      image={[
        {
          url: '/asset/og/home.png',
          type: 'image/png',
          width: '1200',
          height: '630',
          secureUrl: '/asset/og/home.png',
          alt: 'Logo de loyalty latino'
        }
      ]}
      {...openGraphConfiguration}
    />
    <Font />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>