---
import Favicon from '@global/component/favicon.astro';
import Og from '@global/component/og.astro';

import './../style/main.scss';

type Props =
{
  title: string;
  author?: string;
  keywords: string;
  authorWeb?: string;
  metaRobot?: string;
  description: string;
  authorEmail?: string;
};

const {
  author = '',
  authorEmail = '',
  authorWeb = '',
  description,
  keywords,
  metaRobot = 'index, follow',
  title
} = Astro.props;

const locale = 'es';
const siteName = '';
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---
<!doctype html>
<html
  lang={locale}
  dir='ltr'
>
  <head>
    <meta charset='utf-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1, viewport-fit=cover'
    />
    <meta
      http-equiv='X-UA-Compatible'
      content='IE=edge'
    />
    <meta
      name='robots'
      content={metaRobot}
    />
    <meta
      name='author'
      content={`${author}, ${authorEmail}, ${authorWeb}`}
    />
    <meta
      name='description'
      content={description}
    />
    <meta
      name='keywords'
      content={keywords}
    />
    <Favicon />
    <Og
      title={title}
      description={description}
      image='asset/og/home.png'
      locale={locale}
      siteName={siteName}
    />
    <link
      rel='alternate'
      href={canonicalURL}
      hreflang='x-default'
    />
    <link
      rel='canonical'
      href={canonicalURL}
    />
    <title>{title}</title>
  </head>
  <body>
    <h2>{canonicalURL}</h2>
    <h2>{Astro.site}</h2>
    <slot />
  </body>
</html>