---
import Show from '@global/component/show.astro';
import Skeleton from '@global/component/skeleton.astro';
import { removeTrailingSlash } from '@global/util/link';
import { replaceExtension } from '@global/util/replace_extension';

import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'img'> &
{
  readonly src: string;
  readonly alt: string;
  readonly webp?: boolean;
  readonly avif?: boolean;
  readonly class?: string;
  readonly priority?: boolean;
  readonly disableLoader?: boolean;
  readonly classStyle?: Partial<Record<'skeleton' | 'container', string>>;
};

const {
  alt,
  avif = true,
  class: classImage,
  classStyle,
  disableLoader,
  priority = false,
  src: source,
  webp = true,
  ...rest
} = Astro.props;

const baseUrl = removeTrailingSlash(Astro.site as URL);
const imageUrl = `${baseUrl}${source}`;
---
<picture
  class='custom-image'
  class:list={[ classStyle?.container ]}
>
  <Show when={avif}>
    <source
      type='image/avif'
      srcset={replaceExtension(imageUrl, 'avif')}
    />
  </Show>
  <Show when={webp}>
    <source
      type='image/webp'
      srcset={replaceExtension(imageUrl, 'webp')}
    />
  </Show>
  <Show when={!disableLoader}>
    <Skeleton
      class='custom-image__skeleton'
      class:list={[ classStyle?.skeleton ]}
    />
  </Show>
  <img
    src={imageUrl}
    alt={alt}
    loading={priority ? 'eager' : 'lazy'}
    decoding={priority ? 'auto' : 'async'}
    fetchpriority={priority ? 'high' : 'auto'}
    class='custom-image__tag'
    class:list={[ classImage ]}
    {...rest}
  />
  <Show when={Astro.slots.has('default')}>
    <div class='custom-image__content custom-image__content--disable'>
      <slot />
    </div>
  </Show>
</picture>

<script async>
  const picture = document.querySelectorAll('.custom-image');

  picture.forEach((element) =>
  {
    const image = element.querySelector('img');

    const onImageLoad = () =>
    {
      const skeleton = element.querySelector('.custom-image__skeleton');
      const content = element.querySelector('.custom-image__content');

      skeleton?.classList.remove('skeleton--active');
      content?.classList.remove('custom-image__content--disable');
    };

    const onImageError = (event) =>
    {
      const currentImage = event.currentTarget;

      currentImage.src = image?.src;
    };

    if(image?.complete)
    {
      onImageLoad();
    }
    else
    {
      image?.addEventListener('load', onImageLoad);
      image?.addEventListener('error', onImageError);
    }
  });
</script>